/* Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Animações */
@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilo Geral dos Cards (Modais) */
.modal-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.modal-card-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
    text-align: center;
}

.modal-card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.modal-card-body textarea,
.modal-card-body input[type="file"] {
    width: 100%;
    max-width: 90%;
    padding: 10px;
    border: 1px solid #faa300;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.modal-card-body textarea:focus,
.modal-card-body input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.modal-card-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.modal-card-footer .button-menu {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
}

.modal-card-body input[type="file"] {
    margin-bottom: 20px;
}

.cropper-container {
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Pré-visualização de Imagem */
.image-preview {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Botão de menu hambúrguer */
.button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #FF873D;
    color: white;
    transform: scale(1.02);
}

/* Offcanvas */
.offcanvas-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    max-width: 300px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px 0 0 5px;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
    animation: slideInFromRight 0.5s ease-out;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-main {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.username {
    font-size: 20px;
    color: #007bff;
}

/* Botão de fechar */
.btn-close {
    border: 1px solid #ff2c2c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-close:hover {
    background-color: #ff2c2c;
}

/* Corpo do Offcanvas */
.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.xp-bar {
    color: #00d977;
    margin: 10px 0;
    animation: spin 2s linear infinite;
    display: block;
    text-align: center;
}

.level {
    font-size: 1rem;
    font-weight: bold;
    color: #00d977;
    margin: 10px 0;
    text-align: center;
}

.information {
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
    color: #faa300;
}

.information-background {
    margin-top: 5px;
    padding: 8px 20px;
    font-size: 16px;
    color: #faa300;
    background: none;
    border: 1px solid #faa300;
    border-radius: 5px;
}

.user-status {
    font-weight: bold;
    color: #00d977;
}

/* Botões */
.button-menu {
    margin-top: 20px;
    padding: 10px 15px; /* Menor largura */
    font-size: 14px; /* Texto menor para ajustar proporção */
    font-weight: bold;
    color: #ffffff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    text-align: center; /* Centralizado */
}

.button-menu:hover {
    background-color: #FF873D;
    color: white;
    transform: scale(1.02);
}

/* Centralização geral */
.offcanvas-body > .information,
.offcanvas-body > .level,
.offcanvas-body > .xp-bar,
.offcanvas-body > .button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
